SUPABASE_URL=https://duaonkjysehcfdenkdfb.supabase.co
SUPABASE_SERVICE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImR1YW9ua2p5c2VoY2ZkZW5rZGZiIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzc1Njk3NDksImV4cCI6MjA5MzE0NTc0OX0.J7XtbEY9GDH2lKM-HF0gMQwzxkBEGCMIfPUGwT5o0JA
PRINTER_NAME=XP80_local_name
PRINT_METHOD=lp
SALON_NAME= عـز

# Twilio WhatsApp (optional)
TWILIO_ACCOUNT_SID=your_sid
TWILIO_AUTH_TOKEN=your_auth_token
TWILIO_WHATSAPP_FROM=whatsapp:+1415xxxxxxx

# Reminder settings
REMIND_THRESHOLD=2
REMIND_INTERVAL_SECONDS=60
